.aboutussection {
  height: auto;
  padding-bottom: 150px;
  background-color: white;
}

.aboutustext {
  padding-left: 13%;
  padding-right: 13%;
  margin-top: 90px;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
}

.staff {
  font-size: 33px;
  font-weight: 300;
  margin-top: 37px;
}

.ourteam {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ourteam h3 {
  font-size: 20px;
}

.ourteam h4 {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

.ourteam div {
  padding: 41px 80px;
  border: solid 1px black;
}

body {
  background-repeat: repeat;
}

.moreaboutus {
  font-size: 33px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -21px;
}
