.arrangeslogan {
  display: flex;
  justify-content: center;
  height: 250px;
}

.sectioncontainer4 {
  background: white;
  height: auto;
}

.reservetext {
  text-align: center;
  padding-top: 55px;
}

.reservetextline {
  width: 183px;
  margin-left: 44%;
}

.firstrow input,
.secondrow input,
.lastrow input {
  width: 400px;
  height: 50px;
  text-align: center;
}

.firstrow,
.secondrow,
.lastrow {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  flex-wrap: wrap;
}

.lastrow {
  padding-bottom: 60px;
}

form h5 {
  font-size: 18px;
}

select#viewchoice {
  height: 48px;
  text-align: center;
  width: 336px;
  padding-left: 25%;
  margin-right: 61px;
}

select {
  text-align: center;
}

.arrangebutton3 {
  margin-left: 242px;
}

.reservationcta:hover {
  background: rgb(252, 252, 252);
}

.reservationcta {
  background: white;
  padding: 14px 23px;
  border: solid 1px;
}

form {
  padding-top: 5px;
  padding-bottom: 19px;
}
