* {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(images/chef.jpg);
  margin-bottom: -30px;
  background-repeat: no-repeat;
}

.navigation {
  margin-top: 46px;
}

.navigation li {
  display: inline;
  padding-left: 13%;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.navigation li:hover {
  text-decoration: overline;
}

.foodlogo {
  float: left;
  margin: 30px 61px;
  max-width: 60px;
  min-width: 40px;
}

.firstcontainer {
  display: flex;
}

.navigationbar {
  flex: 4;
}

.logocontainer {
  flex: 1;
}

.arrangeslogan {
  color: white;
  text-align: center;
  margin-top: 120px;
}

.slogan {
  color: white;
  text-align: center;
  font-weight: 500;
  text-shadow: -2px 2px 3px black;
  font-size: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.subslogan {
  font-size: 16px;
  padding-left: 10%;
  padding-right: 10%;
}

.arrangebutton {
  text-align: center;
}

.arrangebutton button {
  padding: 18px 38px;
  border-style: none;
  background: #fffffffc;
  border-radius: 3px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 16px;
}

.sectioncontainer {
  background-color: white;
  height: auto;
  width: auto;
  padding-bottom: 100px;
}

.arrangeheadingtwo {
  text-align: center;
}

.listofdishes {
  display: flex;
  justify-content: center;
  margin-right: 112px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.listofdishes img {
  max-width: 347px;
}

/*
.listofdishes img {
    max-width: 425px;
}
*/

.fooditem {
  border-bottom: solid 1px rgb(173, 171, 171);
  margin-top: 20px;
  width: auto;
  height: auto;
  margin-top: 75px;
  margin-left: 120px;
}

hr .itemline {
  width: 240px;
}

.fooditem h5 {
  font-size: 1.25rem;
  width: 82%;
  margin-right: -210px;
  margin-bottom: 21px;
}

.sectioncontainer2 {
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/chef.jpg);
  background-position-y: -564px;
}

.arrangebutton2 {
  text-align: center;
}

.arrangebutton2 button {
  padding: 18px 38px;
  border-style: none;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 16px;
  border: solid 1px;
  margin-top: 56px;
  margin-left: 95px;
}

h6:nth-child(5) {
  margin-bottom: 18px;
}

.arrangebutton2 button:hover {
  background-color: #e1e1e138;
}

h2.reviews {
  font-size: 38px;
  color: white;
  text-align: center;
  text-shadow: -2px 1px 3px black;
  margin-top: 37px;
}

div#carouselExampleControls {
  margin-top: 30px;
}

.reviewtext {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 34px;
}

.sectioncontainer3 {
  background: rgb(20, 20, 20, 0);
  height: 120px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.footerlogo {
  width: 60px;
  z-index: 1;
}

.logo {
  max-width: 22px;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}
li a:hover {
  text-decoration: none;
  color: white;
}

button a {
  color: black;
  text-decoration: none;
}

button a:hover {
  color: black;
  text-decoration: none;
}

.arrangebutton5 button {
  padding: 18px 38px;
  border-style: none;
  background: #fffffffc;
  border-radius: 3px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 16px;
  border: solid 1px;
}

.arrangebutton5 {
  text-align: center;
}

.aboutussection {
  height: auto;
  padding-bottom: 150px;
  background-color: white;
}

.aboutustext {
  padding-left: 13%;
  padding-right: 13%;
  margin-top: 90px;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
}

.staff {
  font-size: 33px;
  font-weight: 600;
}

.ourteam {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ourteam h3 {
  font-size: 20px;
}

.ourteam h4 {
  font-size: 10px;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.98));
  width: 100%;
  height: 100vh;
  position: absolute;
}

.hidden {
  display: none;
  animation: fade-in 500ms forwards;
}

.overlaysection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding-top: 203px;
  text-shadow: -2px 2px 3px black;
}

.overlaysection a {
  color: white;
  text-decoration: none;
}

.overlaysection div {
  font-size: 27px;
  padding-top: 31px;
}

.overlaysection a:hover {
  color: white;
  text-decoration: underline;
}

.cancelbutton {
  position: absolute;
  top: 20px;
  left: 21px;
  color: white;
  font-size: 38px;
  cursor: pointer;
}

.hamburgermenu {
  position: absolute;
  color: white;
  font-size: 30px;
  right: 30px;
  top: 20px;
}
.hamburgerdiv {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation {
  animation: fade-in 500ms forwards;
}

@media (max-width: 1067px) {
  .hamburgerdiv {
    display: block;
  }

  .subslogan {
    margin-top: 30px;
  }

  .secondtheme {
    margin-bottom: -582px;
  }

  .ourmissiontext h4 {
    margin: 0px 93px;
  }

  li a {
    display: none;
  }

  .explanation {
    padding: 0% 20%;
  }
}
